/* Card.module.css */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 14px 20px 0 rgba(0,0,0,0.2);
}

.thumbnail {
  width: 95%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
.card {
  width: 25%;
}

.thumbnail {
  width: 90%;
}
}

@media screen and (max-width: 425px) {
.card {
  width: 40%;
}

.thumbnail {
  width: 80%;
}
}

@media screen and (max-width: 320px) {
.card {
  width: 40%;
  
}

.thumbnail {
  width: 70%;
}
}


.dropdown-container {
  position: relative;
}

.dropdown {
  background-color: blanchedalmond;
  border-radius: 5px;
  border-style: solid;
  padding: 2px;
  display: none;
  position: absolute;
  bottom: 100%;
  /* Outros estilos desejados para o dropdown */
}

.dropdown-open {
  display: block;
}
