.logoImage {
  width: 70px;

  @media (max-width: 600px) {
    width: 50px;
  }
}

.searchInput {
  margin-left: auto;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.userButton {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 600px) {
    max-width: 100px;
    font-size: 0.8em;
  }
  @media (max-width: 425px) {
    max-width: 80px;
    font-size: 0.7em;
  }
  @media (max-width: 320px) {
    max-width: 75px;
    font-size: 0.65em;
  }
}

.userImage {
  cursor: pointer;
  width: 60px;
  border-radius: 20%;
  transition: transform 0.3s;

 
  @media (max-width: 600px) {
    width: 40px;
  }
}

.headerContainer {
  position: fixed; 
  top: 0; 
  width: 99%; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #333;
  z-index: 100;

  @media (max-width: 600px) {
    padding: 2px;
  }
}

.loginButton {
  background-color: #4285f4;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.loginButton:hover {
  background-color: #2b78e4;
}

.userContainer {
  position: relative;
}

.userFlexContainer {
  display: flex;
  align-items:center;
  gap: 5px;
}

.userImageContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  padding-top: 15px;
}

.userName {
  color: white;
}

.dropdown {
  position: absolute;
  right: 10%;
  top: 70%;
  background-color: white;
  padding: 5px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.dropdownContent {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.dropdownButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
