


.dropdown-container {
    position: relative;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    bottom: 100%; /* Ajuste esse valor conforme necessário */
    width: 100%;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px;
    border-style: solid;
    background-color: blanchedalmond;
    border-radius: 7px;
  }
  
  
  .dropdown-show {
    display: block;
  }
  
  .cardMeuResumo {
    border-style:solid;
    width: 25vw ;
     display:flex;
    flex-direction:column;
    
     justify-content:center;
     align-items:center ;
     border-radius: 7px;
     padding: 5px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

     @media (max-width: 1440px) {
     
    }
    @media (max-width: 1024px) {
      
    }
    @media (max-width: 768px) {
      
    }
    @media (max-width: 425px) {
      
    }
    @media (max-width: 321px) {
      width: 38vw;
      padding: 2px;
    }
  }

    .cardMeuResumo:hover {
      scale: 1.04;
    }

    .meusResumosContainer {
      margin-top: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media (max-width: 1440px) {
        
       }
       @media (max-width: 1024px) {
         
       }
       @media (max-width: 768px) {
        margin-top: 50px;

       }
       @media (max-width: 425px) {
        margin-top: 40px;

       }
       @media (max-width: 321px) {
         margin-top: 40px;
       }
    }
    
    .cardContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }
    
    .rowContainer {
      display: flex;
      flex-direction: row;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    
    
    
    .thumbFit {
      height: 40px;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    
    .pdfButton {
      flex: 0 0 auto;
      width: 15vw;
      padding: 2px;
    }
    
    .pdfContainer {
      width: 100%;
      height: 100vh;
    }
    
    .pdfFrame {
      width: 100%;
      height: 100%;
      border: none;
    }
    
    
    .meusOutrosButton {
      flex: 0, 0 ,auto;
      width: 20vw;
      padding: 2px;
    }